---
import Layout from '../layouts/Layout.astro';
import AboutComponent from '../components/About.astro';
import TeamList from '../components/TeamList.astro';
import Features from '../components/Features.astro';
import { equipo } from '../data/team.js';

---

<Layout
  title="Vitaliza - Comprometidos con tu recuperación"
  description="En Vitaliza, nos dedicamos a ofrecer soluciones integrales para tu bienestar y recuperación. Nuestro equipo de expertos está comprometido en brindarte el apoyo necesario para alcanzar tus objetivos de salud.">
  <main>
    <AboutComponent />
    <TeamList equipo={equipo} />
    <Features />
  </main>
</Layout>
