---
import Layout from '../layouts/Layout.astro';
import BlogVitaliza from '../components/Blog.astro';
---

<Layout
  title="Vitaliza - Comprometidos con tu recuperación"
  description="En Vitaliza, nos dedicamos a ofrecer soluciones integrales para tu bienestar y recuperación. Nuestro equipo de expertos está comprometido en brindarte el apoyo necesario para alcanzar tus objetivos de salud.">
  <main>
    <BlogVitaliza />
  </main>
</Layout>