---
import Layout from "../layouts/Layout.astro";
import Contacto from "../components/Contact.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout
  title="Vitaliza - Ponte en contacto"
  description="En Vitaliza, nos dedicamos a ofrecer soluciones integrales para tu bienestar y recuperación. Nuestro equipo de expertos está comprometido en brindarte el apoyo necesario para alcanzar tus objetivos de salud."
>
  <main>
    <Contacto />
  </main>
</Layout>
