---
import Layout from "../layouts/Layout.astro";
import Contacto from "../components/Contact.astro";
---

<Layout
  title="Vitaliza - Ponte en contacto"
  description="En Vitaliza, nos dedicamos a ofrecer soluciones integrales para tu bienestar y recuperación. Nuestro equipo de expertos está comprometido en brindarte el apoyo necesario para alcanzar tus objetivos de salud."
>
  <main>
    <Contacto />
    <!-- Libraries JavaScript -->
    <script
      src="/js/jquery-3.7.0.min.js"
      type="42c65b7a0f0e6e2915422329-text/javascript"></script>
    <script
      src="/js/bootstrap.min.js"
      type="42c65b7a0f0e6e2915422329-text/javascript"></script>

    <!-- Contact Form Javascript -->
    <script
      src="/mailer/validation.form.js"
      type="42c65b7a0f0e6e2915422329-text/javascript"></script>
    <script
      src="/mailer/contact.form.js"
      type="42c65b7a0f0e6e2915422329-text/javascript"></script>
    <script
      src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
      data-cf-settings="42c65b7a0f0e6e2915422329-|49"
      defer></script>
  </main>
</Layout>
