<!-- Inicio Carrusel -->
<div class="header-carousel owl-carousel">
  <div class="header-carousel-item">
    <img src="/img/carousel-1.jpg" class="img-fluid w-100" alt="Imagen" />
    <div class="carousel-caption">
      <div class="carousel-caption-content p-3">
        <h5
          class="text-white text-uppercase fw-bold mb-4"
          style="letter-spacing: 3px;"
        >
          Centro de Fisioterapia
        </h5>
        <h1 class="display-1 text-capitalize text-white mb-4">
          La Mejor Solución para una Vida sin Dolor
        </h1>
        <p class="mb-20 fs-5">
          Somos un equipo especializado en fisioterapia, enfocados en ayudarte a
          recuperar tu movilidad, aliviar dolores y mejorar tu calidad de vida.
          Ofrecemos tratamientos personalizados adaptados a tus necesidades para
          que vuelvas a disfrutar de cada momento sin limitaciones.
        </p>
        <a
          class="btn btn-primary rounded-pill text-white py-3 px-5"
          href="/appointment">Reservar Cita</a
        >
      </div>
    </div>
  </div>
  <div class="header-carousel-item">
    <img src="/img/carousel-2.jpg" class="img-fluid w-100" alt="Imagen" />
    <div class="carousel-caption">
      <div class="carousel-caption-content p-3">
        <h5
          class="text-white text-uppercase fw-bold mb-4"
          style="letter-spacing: 3px;"
        >
          Centro de Fisioterapia
        </h5>
        <h1 class="display-1 text-capitalize text-white mb-4">
          Recupera tu Bienestar con Nosotros
        </h1>
        <p class="mb-5 fs-5 animated slideInDown">
          Ofrecemos servicios profesionales en rehabilitación física, terapias
          manuales y programas de ejercicio terapéutico diseñados para prevenir
          lesiones y mantener tu salud en equilibrio.
        </p>
        <a
          class="btn btn-primary rounded-pill text-white py-3 px-5"
          href="/appointment">Reservar Cita</a
        >
      </div>
    </div>
  </div>
</div>
<!-- Fin Carrusel -->
