<!-- Características Inicio -->
<div class="container-fluid feature py-5">
  <div class="container">
    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0">¿Por qué elegirnos?</h4>
      </div>
      <h1 class="display-3 mb-4">Recupera tu bienestar con Vitaliza</h1>
      <p class="mb-0">
        En Vitaliza nos diferenciamos por nuestro compromiso, experiencia y
        atención personalizada. Nuestro objetivo es que recuperes tu salud y
        bienestar de forma segura y efectiva, acompañándote en cada paso de tu
        proceso.
      </p>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fas fa-diagnoses fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Profesionales Certificados</h5>
              <p class="mb-0">
                Nuestro equipo está conformado por fisioterapeutas y
                especialistas certificados, comprometidos con tu salud y
                bienestar.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fas fa-briefcase-medical fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Tratamiento Personalizado</h5>
              <p class="mb-0">
                Cada paciente recibe un plan de tratamiento único, diseñado
                según sus necesidades y objetivos de recuperación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fas fa-hospital-user fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Metas Claras de Terapia</h5>
              <p class="mb-0">
                Te ayudamos a establecer y alcanzar metas claras para tu
                recuperación, acompañándote en cada etapa del proceso.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fas fa-users fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Red de Especialistas</h5>
              <p class="mb-0">
                Contamos con una red de profesionales en diferentes áreas de la
                salud para ofrecerte atención integral y multidisciplinaria.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fas fa-spa fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Centro Cómodo y Moderno</h5>
              <p class="mb-0">
                Nuestras instalaciones están diseñadas para tu comodidad y
                seguridad, creando un ambiente ideal para tu recuperación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fas fa-heart fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Equipo con Experiencia</h5>
              <p class="mb-0">
                Más de 10 años de experiencia nos respaldan en el cuidado y
                recuperación de nuestros pacientes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fab fa-pied-piper fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Bienestar Integral</h5>
              <p class="mb-0">
               Refuerza la idea de trabajar no solo lo físico, sino lo general del paciente.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp"
        data-wow-delay="0.7s"
      >
        <div class="row-cols-1 feature-item p-4 h-100">
          <div class="col-12">
            <div class="feature-icon mb-4">
              <div class="p-3 d-inline-flex bg-white rounded">
                <i class="fas fa-user-md fa-4x text-primary"></i>
              </div>
            </div>
            <div class="feature-content d-flex flex-column">
              <h5 class="mb-4">Especialistas Licenciados</h5>
              <p class="mb-0">
                Todos nuestros terapeutas cuentan con licencia y formación
                profesional, garantizando atención segura y de calidad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Características Fin -->

<style>
  .team-social-link {
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  .team-social-link:hover {
    opacity: 1;
  }
</style>
